application:
  name: "worker-engine"  # Name of the application

logger:
  level: "debug"  # Options: debug, info, warn, error
  encoding: 
    method: "json" # Options: json, console
    caller: true  # Include caller information in logs
  path: "/path/to/app.log"  # Path to the application log file
  errPath: "logs/error.log"  # Path to the error log file


user:
  activation:
    emailTemplatePath: "/path/to/email-activation-template.html"
    smsTemplatePath: "/path/to/sms-activation-template.txt"
  passwordReset:
    emailTemplatePath: "/path/to/email-password-reset-template.html"
    smsTemplatePath: "/path/to/sms-activation-template.txt"

kafka:
  brokers:
    - "g7kd8v84u4d..." # Encrypted kafka host
  topics:
    activation: "email_activation"
    passwordReset: "email_password_reset"
  consumerGroupName: "test-consumer-group-{{hostName}}" #macros : {{hostName}}

email:
  mailjet:
    apiKey: "your-mailjet-api-key"
    apiSecret: "your-mailjet-api-secret"
    fromEmail: "noreply@sampleApp.com"
    fromName: "sampleApp"
    rateLimit:
      enabled: true
      maxRequests: 100
      windowSize: "1m" # 1s,1m,1h,1d
